$minMargin: 1vw;
$percent: 100%;
$windowHeight: 90vh;
$widthGeneral:calc(100vw - 1.5vw);
$marginCenter: 0 auto;
$contentWidthImg: 20vw;

body>.content {
    margin-bottom: $minMargin;
    width: calc(100vw - 1.5vw);
    height: $windowHeight;
    padding-top: $minMargin;
    margin: $marginCenter;
    position: relative;

    .content__page1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: space-evenly;

        .content__page1_history {
            padding-left: 7vw;
            padding-right: 7vw;
            position: relative;


            .content__page1_caption{
             color:red;
             outline: 1px solid green;
            }
        
            }
               
            
            .content__slide {
                width: 100%;
                position: relative;

                .content__figure {
                    display: none;
                    position: relative;
                    width: $contentWidthImg+10vw;

                    // .content__figure_label{

                    // }


                    .prevSlide::before{   
                        border-left-color: transparent;     
                        left: 5vw;
                        top: 40%;
                       
                    }
            
                    .nextSlide::before{   
                        border-right-color: transparent;     
                        right: 5vw;
                        top: 40%;
                    }
            

                    

                    img {
                        height:$contentWidthImg;
                        padding: 1vw;
                        outline: 1px solid red;
                    }

                    .content__figure_caption {
                        font-size: 1vw;
                        font-family: sans-serif;
                        font-style: italic;
                        font-weight: 700;
                    }  
                    
                    .content__figure_hidden{

                        display: inline-block;               
                        width: $contentWidthImg+10vw;
                        position: absolute;
                        top: 0;
                        left: 38vw;
                    }

                }

                @for $i from 1 through 4 {
                    #content__slide_input-#{$i}:checked~.content__figure_block-#{$i}{
                        display: block;
      
                    }
                }
                
                 
            }

        }

        .content__list {
            margin-top: 1vw;
            display: flex;
            justify-content: space-between;
        }
    
}